.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.button-link {
  position: relative;
  display: inline-block;
  color: #1890ff;
  cursor: pointer;
}

.hide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}
