.wrapper {
  position: relative;
  overflow: hidden;
}

.canvas {
  display: block;
  width: 400px;
  max-width: 100%;
  height: 240px;
  background-color: #000;
  transition: opacity 0.2s linear;
}

.upper-canvas {
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.2s linear;
}

.brush {
  --x: 0;
  --y: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 75px;
  height: 174px;
  transform: translate(var(--x), var(--y));
  background-image: url("./brush.png");
  background-size: 75px 174px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s linear;
}
