body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-size: 14px;
}

div {
  box-sizing: border-box;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  padding: 8px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #c5c5c5;
  cursor: pointer;
  outline: 0;
}

button:hover {
  background-color: #eee;
}

button:active {
  opacity: 0.5;
}

button:disabled {
  cursor: not-allowed;
}

button:disabled:active {
  opacity: 1;
}

audio {
  display: none;
}

.tick::before {
  content: "";
  display: block;
  border: 2px solid #c7c7c7;
  border-top: none;
  border-right: none;
  height: 6px;
  transform: rotate(-45deg) translateX(3px);
  width: 12px;
}

.tick-green::before {
  border-color: #66bb6a;
}

#visualization-canvas {
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0.2;
  z-index: 1;
}