.wrapper {
  --angle: 0deg;
  --offsetX: -6px;
  --offsetY: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.wrapper > svg {
  transform: rotate(var(--angle));
}

.icon {
  font-size: 40px;
  cursor: pointer;
  color: #ccc;
}

.bar {
  width: 200px;
  height: 6px;
  border-radius: 3px;
  background-color: #ccc;
}

.handle {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  border: 1px solid #4a95ff;
  background-color: #fff;
  transform: translate(var(--offsetX), var(--offsetY));
}
